<%= form_with(model: add_userid_to_comment) do |form| %>
  <% if add_userid_to_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(add_userid_to_comment.errors.count, "error") %> prohibited this add_userid_to_comment from being saved:</h2>

      <ul>
        <% add_userid_to_comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
