<p id="notice"><%= notice %></p>

<h1>Add Userid To Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @add_userid_to_comments.each do |add_userid_to_comment| %>
      <tr>
        <td><%= add_userid_to_comment.user_id %></td>
        <td><%= link_to 'Show', add_userid_to_comment %></td>
        <td><%= link_to 'Edit', edit_add_userid_to_comment_path(add_userid_to_comment) %></td>
        <td><%= link_to 'Destroy', add_userid_to_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Add Userid To Comment', new_add_userid_to_comment_path %>
