<p id="notice"><%= notice %></p>

<h1>Add Userid To Posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @add_userid_to_posts.each do |add_userid_to_post| %>
      <tr>
        <td><%= add_userid_to_post.user_id %></td>
        <td><%= link_to 'Show', add_userid_to_post %></td>
        <td><%= link_to 'Edit', edit_add_userid_to_post_path(add_userid_to_post) %></td>
        <td><%= link_to 'Destroy', add_userid_to_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Add Userid To Post', new_add_userid_to_post_path %>
